{% extends "quiz/quiz_base.html" %}


{% block content %}

    <h2>Add Question </h2>
    <h3>Quiz</h3>
    {{ quiz }}
    <h3>New Question</h3>
    <form action="{% url 'quiz2.apps.quiz.views.question_add' quiz.id %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {#        {% for field in form %}#}
        {#            <div class="fieldWrapper">#}
        {#                {{ field.errors }}#}
        {#                {{ field.label_tag }} {{ field }}#}
        {#            </div>#}
        {#        {% endfor %}#}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="fieldWrapper">
            {{ form.text.errors }}
            <label for="id_text">Text:</label>
            {{ form.text }}
        </div>


        <p><input type="submit" value="Add Question" /></p>

    </form>

{% endblock %}



