{% extends "quiz/quiz_base.html" %}


{% block content %}

        <div class="page-header">
        <h1>Manage Question</h1>
    </div>

        <div class="page-header">
        <h2>{{ quiz }}</h2>
    </div>


    <form method="post" id="question_form" action="">
        {% csrf_token %}
        {{ form.id }}
       <label>Question text:</label>
        <br/>{{ form.text }}
        <input type="submit" value="Update Question">
        <div>
            <ul>
                {% for answer in answers %}
                    <li>
                        <a href="{% url 'quiz2.apps.quiz.views.manage_answer' answer.pk %}">
                            {{ answer.text }}
                            {% if answer.correct %}
                                (CORRECT)
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </form>


    <div>
        <a href="{% url 'quiz2.apps.quiz.views.answer_add' question_id %}"class="btn btn-primary" role="button">Add an answer</a>
    </div>
    <br/>
    <div>
        <a href="{% url 'quiz2.apps.quiz.views.manage_quiz' quiz.id %}" class="btn btn-primary btn-lg" role="button">&laquo;Back to Quiz</a>
    </div>

{% endblock %}



