<li style="padding-bottom:5px">
    <div class="question">
        {{ question }}
    <span class="tag_list">
        ({{ question.tags|join:", " }})
    </span>
    </div>
    <div class="answer_list">
        <ul>
            {% for answer in question.answers %}
                <li><input class="radio_answer" type="radio" 
                     name="{{ question.id }}" 
                     value="{{ answer.id }}"> {{ answer.text }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="result_div" id="result_{{ question.id }}" style="">
       &nbsp; 
    </div>
</li>