<li style="padding-bottom:5px">
    <div class="question">
        {# <a href="{% url 'quiz1:question' question.id %}">{{ question }}</a> #}
        {{ question }}
    <span class="tag_list">
        ({{ question.questiontags|join:", " }})
    </span>
    </div>
    <div class="answer_list">
        <ul>
            {% for qa in question.questionanswers %}
                <li><input class="radio_answer" type="radio" 
                     name="{{ question.id }}" 
                     value="{{ qa.id }}"> {{ qa.answer }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="result_div" id="result_{{ question.id }}" style="">
       &nbsp; 
    </div>
</li>