{% extends "quizapp/quiz_base.html" %}


{% block content %}


    <div class="page-header">
        <h1>Add Answer</h1>
    </div>

    <div>
        <h2>{{ question.quiz }}</h2>
    </div>

    <h3>New Question</h3>
    <form action="{% url 'quizapp:answer_add' question.id %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}

        <p>
            <a href="{% url 'quizapp:question_manage' question.id %}">
                <button type="button" name="cancel" class="btn btn-danger">Cancel</button>
            </a>
            <button type="submit" name="update" class="btn btn-success">Add this answer</button>
        </p>


    </form>

{% endblock %}



