{% extends "quizapp/quiz_base.html" %}


{% block content %}



    {% include "quizapp/snips/page_header.html" with header_text="Add Answer" %}

    {% include "quizapp/snips/quiz_header.html" with quiz=question.quiz  %}



    <h3>New Question</h3>
    <form action="{% url 'quizapp:answer_add' question.id %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}

        <p>
            <a href="{% url 'quizapp:quiz_edit' question.quiz.id %}">
                <button type="button" name="cancel" class="btn btn-danger">Cancel</button>
            </a>
            <button type="submit" name="update" class="btn btn-success">Add this answer</button>
        </p>


    </form>

{% endblock %}



