{% extends "quizapp/quiz_base.html" %}


{% block content %}

    <div class="pull-right">
        {% include "quizapp/buttons/back.html" with what="the quiz" where=back_to_url %}
    </div>

    {% include "quizapp/snips/page_header.html" with header_text="Edit Answers" %}

    {% include "quizapp/snips/quiz_header.html" with quiz=question.quiz %}

    <div>
        <h3>{{ question }}</h3>
    </div>
    <form id="form1" method="post" action="{% url 'quizapp:answers_edit' question.id %}">
        {% csrf_token %}
        <table>
            {{ formset }}
        </table>

        {% include "quizapp/snips/form_actions.html" with cancel_what="these changes" back_to_url=back_to_url submit_what="these answers" %}

    </form>

    {% include "quizapp/buttons/add.html" with what="a question" add_url=add_url%}

    {% load static %}
    <script src="{% static "js/form_change.js" %}"></script>

{% endblock %}



