{% extends "quizapp/quiz_base.html" %}

{% block content %}


    <div class="pull-right">
        <a href="{% url 'quizapp:quiz_take' quiz.id %}" class="btn btn-info btn-lg" role="button">Take this quiz</a>
        {% include "quizapp/buttons/back.html" with what="the quizzes" where=back_to_url %}
    </div>

    <div class="page-header">
        <h1>Edit Questions</h1>
    </div>

    <div>
        <h2>{{ quiz }}</h2>
    </div>



    <br/>


    <form id="form1" method="post" action="{% url 'quizapp:quiz_edit' quiz.id %}">
        {% csrf_token %}
        {{ form.non_field_errors }}

    {% if formset|length > 5  %}
        <div>
            {% include "quizapp/buttons/submit.html" with what="your updates"%}
            {% include "quizapp/buttons/add.html" with what="a question" %}
            {% include "quizapp/buttons/delete.html" with what="this quiz" %}
        </div>
    {% endif %}

<br/>

        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.id }}

{#            {% for field in form.visible_fields %}#}
{#                    {{ field.errors }}#}
{#            {% endfor %}#}
{##}
{#                    {% for field in form.hidden_fields %}#}
{#                    {{ field.errors }}#}
{#            {% endfor %}#}


            <ul>
                <li>
                    {% if formset.can_order %}
                        {{ form.ORDER }}
                    {% endif %}
                    {{ form.text }}
                    {% if formset.can_delete %}
                        {{ form.DELETE }} DELETE
                    {% endif %}
                    <div>
                        (<a href="{% url 'quizapp:answers_edit' form.instance.pk %}">edit answers</a>)

                        <ul>
                            {% for answer in form.instance.answers %}
                                <li>{{ answer.text }}
                                    {% if answer.correct %}
                                        (CORRECT)
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        {% endfor %}

        <div>
            {% include "quizapp/buttons/submit.html" with what="your updates" %}
            {% include "quizapp/buttons/add.html" with what="a question" %}
            {% include "quizapp/buttons/delete.html" with what="this quiz" %}
        </div>

    </form>

    <br/>


    <br/>
    <div>
        <a href="{% url 'quizapp:quiz_take' quiz.id %}" class="btn btn-info btn-lg" role="button">Take this quiz</a>
         {% include "quizapp/buttons/back.html" with what="the quizzes" where=back_to_url %}
    </div>

    {% load static %}
    <script src="{% static "js/quiz_edit.js" %}"></script>


{% endblock %}



