{% extends "quizapp/quiz_base.html" %}

{% block content %}


    {% include "quizapp/snips/page_header.html" with header_text="Quizzes" %}


    {% if quiz_list %}
        <div style="height: 150px;overflow: auto">


            <table class="table table-striped" >
                <thead>
                <tr>
                    <th style="width: 35px">id</th>
                    <th>Name</th>
                    <th>Org</th>
                    <th>Creator</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
                </thead>
                <tbody>
                    {% for quiz in quiz_list %}
                    <tr>
                        <td>{{ quiz.id }}</td>
                        <td><a href="{% url 'quizapp:quiz_take' quiz.id %}">{{ quiz }}</a></td>
                        <td>{{ quiz.quizorganization_set }}</td>
                        <td>{{ quiz.user }}</td>
                        <td>{{ quiz.created_at }}</td>
                        <td>{{ quiz.updated_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    {% else %}
        <p>No question sets are available.</p>
    {% endif %}

    <br/>
    <div>
        <a href="{% url 'quizapp:quiz_add' %}"class="btn btn-info" role="button">Add a new Quiz</a>
    </div>


{% endblock %}
