{% extends "base_questions.html" %}


{% block content %}
    <h2>{{ questionset }}</h2>

    {% if question_list %}
        <div class="question_list">
            <ul>
                {% for question in question_list %}
                    {% include "quiz/questions/question_snip.html" %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No questions are available.</p>
    {% endif %}

    {% load static %}
    <script src="{% static "js/questions.js" %}"></script>

{% endblock %}
