{% extends "quiz/quiz_base.html" %}

{% block content %}
    <h2>Quizzes</h2>

    {% if quiz_list %}
        <div class="quiz_list">
            <ul>
                {% for quiz in quiz_list %}

                    <li>{{ quiz }}
                        (<a href="{% url 'take_quiz' quiz.id %}">take</a>,
                        <a href="{% url 'quiz2.apps.quiz.views.manage_quiz' quiz.id %}">manage</a>)
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No question sets are available.</p>
    {% endif %}

{#    <p><a href="/quiz/admin/">Question Administration</a></p>#}

{% endblock %}
