{% extends "quiz/quiz_base.html" %}


{% block content %}

    <div class="page-header">
        <h1>Edit Quiz</h1>
    </div>

      <div class="well">
        <p>Click a question or answer to edit.</p>
      </div>


    <div class="page-header">
        <h2>{{ quiz }}</h2>
    </div>


    <form method="post" action="">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.id }}
            <ul>
                <li>
                    {#                 Widget display is too ugly       #}
                    {#                {% if formset.can_order %}#}
                    {#                    {{ form.ORDER }}#}
                    {#                {% endif %}#}

                    <a href="{% url 'quiz2.apps.quiz.views.manage_question' form.instance.pk %}">
                        {% if form.instance.text %}
                            {{form.instance.text}}
                        {% else %}
                            {{form.data.text}}
                        {% endif %}
                    </a>

                    {#                 Widget display is too ugly       #}
                    {#                {% if formset.can_delete %}#}
                    {#                    {{ form.DELETE }} DELETE#}
                    {#                {% endif %}#}
                    <div>
                        <ul>
                            {% for answer in form.instance.answers %}
                                <li>
                                    <a href="{% url 'quiz2.apps.quiz.views.manage_answer' answer.pk %}">
                                        {{ answer.text }}
                                        {% if answer.correct %}
                                            (CORRECT)
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        {% endfor %}
    </form>

     <div>
        <a href="{% url 'quiz2.apps.quiz.views.question_add' quiz.id %}" class="btn btn-primary" role="button">Add a question</a>
    </div>

{% endblock %}



