{% extends "quiz/quiz_base.html" %}

{% block content %}

    <div class="pull-right">
        <a href="{% url 'quiz2.apps.quiz.views.manage_quiz' quiz.id %}" class="btn btn-primary btn-lg" role="button">Edit this quiz</a>
    </div>

    <div class="page-header">
        <h1>{{ quiz.name }}</h1>
    </div>



    {% if q_list %}
        <div class="question_list">
            <ul class="list-group">
                {% for question in q_list %}
                    {% include "quiz/question/snip.html" %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No questions are available.</p>
    {% endif %}


    {% load static %}
    <script src="{% static "js/questions.js" %}"></script>

{% endblock %}
