{% extends "quiz/quiz_base.html" %}


{% block content %}
    <h2>{{ questionset }}</h2>

    {% if q_list %}
        <div class="question_list">
            <ul class="list-group">
                {% for question in q_list %}
                    {% include "quiz/question/snip.html" %}
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No questions are available.</p>
    {% endif %}


    {% load static %}
    <script src="{% static "js/questions.js" %}"></script>

{% endblock %}
